html
{
	background: #7F7F7F url("../images/fondo_f2.jpg") repeat center center fixed;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 1084.9499999999998px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -58px;
	margin-bottom: 20px;
}

#pu533
{
	width: 0.01px;
	left: -161px;
	position: relative;
}

#u533
{
	z-index: 4;
	width: 1350px;
	position: relative;
	margin-right: -1350px;
}

#u533_img
{
	vertical-align: top;
}

#u531
{
	z-index: 6;
	width: 800px;
	height: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -800px;
	margin-top: 78px;
	left: 245px;
}

#menuu482
{
	z-index: 7;
	width: 800px;
	border-style: none;
	border-color: transparent;
	background-color: #C69C6D;
	padding-bottom: 1px;
	position: relative;
	margin-right: -800px;
	margin-top: 437px;
	left: 261px;
}

#u513
{
	width: 113px;
	min-height: 37px;
	margin-right: -113px;
	position: relative;
}

#u514
{
	width: 113px;
	border-color: #39393A;
	padding-bottom: 18px;
	position: relative;
	background: #603813 url("../images/u166-grad.png") repeat-x left top;
}

#u514:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background: #39393A url("../images/u302-r-grad.png") repeat-x left top;
}

#u499
{
	width: 113px;
	min-height: 37px;
	margin-right: -113px;
	position: relative;
	left: 114px;
}

#u502
{
	width: 113px;
	border-color: #39393A;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding-bottom: 18px;
	position: relative;
	background: #603813 url("../images/u166-grad.png") repeat-x left top;
}

#u502:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background: #39393A url("../images/u302-r-grad.png") repeat-x left top;
}

#u520
{
	width: 113px;
	min-height: 37px;
	margin-right: -113px;
	position: relative;
	left: 228px;
}

#u521
{
	width: 113px;
	border-color: #39393A;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding-bottom: 18px;
	position: relative;
	background: #603813 url("../images/u166-grad.png") repeat-x left top;
}

#u521:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background: #39393A url("../images/u302-r-grad.png") repeat-x left top;
}

#u506
{
	width: 113px;
	min-height: 37px;
	margin-right: -113px;
	position: relative;
	left: 342px;
}

#u507
{
	width: 113px;
	border-color: #39393A;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding-bottom: 18px;
	position: relative;
	background: #603813 url("../images/u166-grad.png") repeat-x left top;
}

#u507:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background: #39393A url("../images/u302-r-grad.png") repeat-x left top;
}

#u515-4,#u503-4,#u524-4,#u509-4
{
	width: 109px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	text-align: center;
	color: #FFFFFF;
	font-size: 12px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-right: -113px;
	position: relative;
	top: 9px;
}

#u572
{
	width: 114px;
	min-height: 37px;
	margin-right: -114px;
	position: relative;
	left: 456px;
}

#u575
{
	width: 114px;
	border-color: #39393A;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding-bottom: 18px;
	position: relative;
	background: #603813 url("../images/u166-grad.png") repeat-x left top;
}

#u575.MuseMenuActive
{
	background-image: none;
	background-color: #C69C6D;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px;
}

#u671
{
	width: 114px;
	min-height: 37px;
	margin-right: -114px;
	position: relative;
	left: 571px;
}

#u672
{
	width: 114px;
	border-color: #39393A;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding-bottom: 18px;
	position: relative;
	background: #603813 url("../images/u166-grad.png") repeat-x left top;
}

#u672:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background: #39393A url("../images/u302-r-grad.png") repeat-x left top;
}

#u1403
{
	width: 114px;
	min-height: 37px;
	margin-right: -114px;
	position: relative;
	left: 686px;
}

#u1406
{
	width: 114px;
	border-color: #39393A;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding-bottom: 18px;
	position: relative;
	background: #603813 url("../images/u166-grad.png") repeat-x left top;
}

#u1406:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background: #39393A url("../images/u302-r-grad.png") repeat-x left top;
}

#u514:active,#u502:active,#u521:active,#u507:active,#u672:active,#u1406:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px;
	background: #5B5B5B url("../images/u302-m-grad.png") repeat-x left top;
}

#u577-4,#u673-4,#u1409-4
{
	width: 110px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	text-align: center;
	color: #FFFFFF;
	font-size: 12px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-right: -114px;
	position: relative;
	top: 9px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u692-16
{
	z-index: 50;
	width: 800px;
	min-height: 235px;
	text-align: justify;
	line-height: 1.7;
	color: #603813;
	font-size: 16px;
	font-family: balthazar-n4, balthazar, serif;
	font-weight: 400;
	margin-left: 100px;
	margin-top: 62px;
	position: relative;
}

#u692,#u692-6,#u692-11
{
	text-decoration: underline;
}

#u532
{
	z-index: 2;
	width: 538px;
	border-style: none;
	border-color: transparent;
	margin-left: 232px;
	margin-top: 238px;
	position: relative;
	background: #603813 url("../images/u235-grad.png") repeat-x left top;
}

#u529
{
	z-index: 3;
	width: 407px;
	min-height: 44px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: -8px;
	position: relative;
	margin-right: -407px;
	margin-top: 8px;
	left: 65px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

